<div class="container" id="mainbg">
<!-- Cloud Tag Format with all selected things-->
    <div class="row">
    <div class="col-md-12">
      <div>
        <angular-tag-cloud [data]="data" [height]="options.height" [width]="options.width" [zoomOnHover]="zoomOnHoverOptions" [realignOnResize] = "options.realignOnResize" [overflow]="options.overflow" (clicked)="logClicked($event)"></angular-tag-cloud>
       
      </div>
    </div>
  </div>
  <hr>
</div>

<!-- when no records found with our search-->
<div class="container" *ngIf ="finalShortList.length == 0">
  No records found with the given selection
</div>


<!-- shortlisted candidates-->
<div class="container" *ngIf ="finalShortList.length > 0">
  <div class="row" *ngFor="let i of finalShortList | paginate: { itemsPerPage: 3, currentPage: p }">
    <div class="card">
      <div class="crd_data">
          <p class="cstmName">{{i.name}}</p><br>
        <div class="crd_inner">
          <span class="spn_main">Description:</span>
          
          <span class="dscrp">{{i.description}}</span>
        </div>
      </div>
      <hr>
      <div class="crd_data">
        <div class="crd_inner" *ngFor="let m of i.skills;index as i">
          <span class="spn_main" *ngIf="i==0">Skills:</span>
          <span>{{m}}</span>
        </div>
      </div>
      <div class="crd_data">
        <div class="crd_inner" *ngFor="let m of i.source;index as i">
          <span class="spn_main" *ngIf="i==0">Sources:</span>
          <span>{{m}}</span>
        </div>
      </div>
      <div class="crd_data">
        <div class="crd_inner" *ngFor="let m of i.place;index as i">
          <span class="spn_main" *ngIf="i==0">Location:</span>
          <span>{{m}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8" class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>